<h1>Enter New Goal</h1>

<form action="<%=goals_url%>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Description
    <input
      type="text"
      name="goal[name]"
      value="<%= @goal.name %>">
  </label>
  <br>
  <label>Make Goal Public
    <input
      type="radio"
      name="goal[private]"
      value="false">
  </label>
  <br>

  <input type="submit" value="Create Goal">

</form>
